WCF_VentasPlusSeguro/ClienteWinFormsSeguro/Connected Services/VentasServiceRef/VentasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="VentasWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model_VentasPlus" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVentasService_ObtenerProductosActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosActivos" />
  </wsdl:message>
  <wsdl:message name="IVentasService_ObtenerProductosActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IVentasService_RegistrarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVenta" />
  </wsdl:message>
  <wsdl:message name="IVentasService_RegistrarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="IVentasService">
    <wsdl:operation name="ObtenerProductosActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IVentasService/ObtenerProductosActivos" message="tns:IVentasService_ObtenerProductosActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVentasService/ObtenerProductosActivosResponse" message="tns:IVentasService_ObtenerProductosActivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IVentasService/RegistrarVenta" message="tns:IVentasService_RegistrarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVentasService/RegistrarVentaResponse" message="tns:IVentasService_RegistrarVenta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVentasService" type="tns:IVentasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerProductosActivos">
      <soap:operation soapAction="http://tempuri.org/IVentasService/ObtenerProductosActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVenta">
      <soap:operation soapAction="http://tempuri.org/IVentasService/RegistrarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VentasWS">
    <wsdl:port name="BasicHttpBinding_IVentasService" binding="tns:BasicHttpBinding_IVentasService">
      <soap:address location="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>