WCF_VentasPlusSeguro/ClienteWinFormsSeguro/Connected Services/VentasServiceRef/WCF_VentasPlusSeguroWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model_VentasPlus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model_VentasPlus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoSKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Venta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venta" nillable="true" type="tns:Venta" />
  <xs:complexType name="ArrayOfDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleVenta" nillable="true" type="tns:DetalleVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleVenta" nillable="true" type="tns:ArrayOfDetalleVenta" />
  <xs:complexType name="DetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdVenta" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleVenta" nillable="true" type="tns:DetalleVenta" />
</xs:schema>