WCF_VentasPlusSeguro/ClienteWinFormsSeguro/Connected Services/VentasServiceRef/WCF_VentasPlusSeguroWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://laptop-toh2ue67/VentasSeguro/WCF_VentasPlusSeguroWS.VentasWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model_VentasPlus" />
  <xs:element name="ObtenerProductosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model_VentasPlus" minOccurs="0" name="ObtenerProductosActivosResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model_VentasPlus" minOccurs="0" name="venta" nillable="true" type="q2:Venta" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model_VentasPlus" minOccurs="0" name="detalles" nillable="true" type="q3:ArrayOfDetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarVentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>